<div class="contenedor">
    <div class="about">
        <p>Proyecto realizado por alumnos del 7° semestre de la carrera de
            Ingeniería en Sistemas Computacionales para la materia Desarrollo de
            Aplicaciones Web.
        </p>

        <p>
            Este proyecto busca ser un intermediario para que los dueños de
            mascotas tengan acceso a un control de los padecimientos de sus
            mascotas. Y, en dado caso o si así lo requieran, agendar una
            cita con el veterinario.
        </p>

        <p>
            Por otro lado, para los veterinarios una forma más rápida y fácil de
            brindar sus servicios.
        </p>
        <br>
        <img src="/gifs/perro.gif" width="150px" height="150px">
    </div>
</div>